In [1]:
import wikipedia
import json
import time
import os

import pandas as pd
import numpy as np
import boto3
import awswrangler as wr

from bs4 import BeautifulSoup
from difflib import SequenceMatcher

# Get the list of IMO numbers from the database

In [2]:
DATABASE = ""
TABLE = ""
OUTPUT_LOCATION = ""

In [3]:
my_session = boto3.session.Session(
    region_name=os.environ['REGION'], 
    aws_access_key_id=os.environ['ACCESS_KEY'], 
    aws_secret_access_key=os.environ['SECRET']
)

In [11]:
query = f"""
    WITH latest_versions AS (
        SELECT CAST(year AS INTEGER) AS year, MAX(CAST(version AS INTEGER)) AS latest_version
        FROM "{DATABASE}"."{TABLE}"
        GROUP BY CAST(year AS INTEGER)
    ),

    latest_data AS (
        SELECT *
        FROM "{DATABASE}"."{TABLE}" se
        JOIN latest_versions lv
        ON CAST(se.year AS INT) = lv.year
        AND CAST(se.version AS INT) = lv.latest_version
    )
    
    SELECT DISTINCT imo_number, name FROM latest_data;
"""

In [12]:
distinc_imo_numbers = wr.athena.read_sql_query(query, database=DATABASE, boto3_session=my_session)

In [6]:
distinc_imo_numbers.head()

   imo_number            name
0     6703343        EQUALITY
1     7225910  AEGEAN ODYSSEY
2     7230599      MARKO POLO
3     7304314        ALBATROS
4     7346221   SUPERFERRY II

In [13]:
distinc_imo_numbers.shape

(24738, 2)

# Filter out the IMO numbers I haven't run through the parser before

In [21]:
with open('../data/raw/ship_particulars/wikipedia_ship_data.json') as f:
    wikipedia_data = json.load(f)

In [22]:
with open('../data/raw/ship_particulars/kaggle_ship_data.json') as f:
    kaggle_data = json.load(f)

In [23]:
with open('../data/raw/ship_particulars/sflcorp_fleet.json') as f:
    sflcorp_data = json.load(f)

In [24]:
with open('../data/raw/ship_particulars/pleiades_fleet.json') as f:
    pleiades_data = json.load(f)

In [25]:
with open('../data/raw/ship_particulars/cmb-tech-fleet.json') as f:
    cmb_tech_data = json.load(f)

In [26]:
ships_acquired = wikipedia_data | kaggle_data | sflcorp_data | pleiades_data | cmb_tech_data

In [27]:
imo_ships_acquired = list(map(int, ships_acquired.keys()))

In [28]:
len(imo_ships_acquired)

4351

In [61]:
imo_numbers_to_query = set(distinc_imo_numbers['imo_number'].to_list()).difference(set(imo_ships_acquired.extend(ships_not_found)))

TypeError: 'NoneType' object is not iterable

In [30]:
len(imo_numbers_to_query)

16774

# Start querying wikipedia for the ships we don't have any information on

In [31]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [32]:
def get_wikipedia_page(page_title: str):
    print('Page title: ', page_title)
    page_object = wikipedia.page(page_title, auto_suggest=False)
    html_page = page_object.html()
    
    return html_page

In [33]:
def get_info_box_from_article(html_page):
    soup = BeautifulSoup(html_page, "html.parser")
    table = soup.find('table', attrs={'class':'infobox'})
    table_body = table.find('tbody')
    
    ship_info_dict = {}
    rows = table_body.find_all('tr', attrs={'style': 'vertical-align:top;'})
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        
        if len(cols) == 2:
            ship_info_dict[cols[0]] = cols[1]
    
    return ship_info_dict

In [67]:
distinc_imo_numbers_subset = distinc_imo_numbers[distinc_imo_numbers['imo_number'].isin(imo_numbers_to_query)].copy()

In [68]:
distinc_imo_numbers_subset.shape

(19043, 2)

In [69]:
ships_not_found = []
ship_info_json = {}
ships_with_info = []
for index, row in distinc_imo_numbers_subset[['imo_number', 'name']].iterrows():
    print(index, ' ', row['imo_number'], ' ',row['name'])
    result = wikipedia.search(f"IMO number: {row['imo_number']}", results = 1)
    
    if not result:
        ships_not_found.append(row['imo_number'])
        time.sleep(10)
        continue
    
    if similar(row['name'].lower(), result[0].lower()) > 0.6:
        print(result)
        time.sleep(5)
        article_html_page = get_wikipedia_page(result[0])
        ship_info = get_info_box_from_article(html_page=article_html_page)
        ship_info_json[row['imo_number']] = ship_info
    print()
    time.sleep(10)

4   7602120   AURELIA

12   7901265   ROSELLA

138   9125372   CELESTINE

147   9129263   BALTIC BRIGHT

148   9131527   EUROCARGO PATRASSO

156   9138393   GRANDE MEDITERRANEO

157   9138422   REPUBBLICA DEL BRASILE

199   9166778   MSC ABY

210   9173068   CLIPPER HARALD

281   9215476   GALLIPOLI SEAWAYS

283   9216298   LNG RIVERS

284   9216303   LNG SOKOTO

310   9226504   TEOMAN A

323   9229910   NORDNES

335   9232890   MSC ENGLAND

371   9243174   MIRADOR EXPRESS

378   9246607   GRANDE AMBURGO

429   9263655   ATHARA

535   9388209   PS HOUSTON

593   9399052   MSC EMANUELA

617   9402471   FULMAR

666   9410753   CMA CGM CALLISTO

711   9421075   MANISA BELLA / LENNEBORG

760   9430272   CELSIUS ROSKILDE

769   9431707   NAVIOS DORADO
770   9431836   HOEGH BEIJING
771   9432048   DEMETRIOS
772   9432139   PARANDOWSKI
774   9432206   BELTNES
775   9432464   DENSA LION
776   9432517   SIDER MONICA
777   9433262   HUDSONGRACHT
778   9433303   LOKHOLMEN
779   9433585   PINK STARS
780   9433626   ETERNAL BLISS
782   9434230   TORM SINGAPORE
784   9434761   AMELAND
785   9434802   CONTSHIP VIE
786   9434929   MAERSK NIJMEGEN
787   9434943   PUERTO LIMON EXPRESS
789   9435105   ERIK
791   9435325   AGVANIS
792   9435557   OWL 4
793   9435894   OVERSEAS MYKONOS
794   9435909   OVERSEAS SANTORINI
795   9436197   BG ONYX
796   9436202   BG RUBY
797   9436252   URA
798   9436305   VERONICA B
799   9436329   BBC VOLGA
800   9436434   GUENTHER SCHULTE
801   9436678   ICHESIA M
802   9436733   INCE EGE
803   9437141   ANNALISA P
804   9437165   BBC BANGKOK
805   9437323   UHL PASSION
806   9437335   OCEAN GIANT
807   9437919   GRANDE GUINEA
808   9438169   BOMAR JUPITER
809   9438482   CS SERVICE
810   9438614   GOLDEN SUEK
811   9438626   GOLDEN BULL
812   9438949   IVER BITUMEN
813   9439369   OWL 1
814   9439498   BSG BAHAMAS
815   9440100   NEPTUNE ILIAD
816   9440320   MARAN GRACE
817   9440382   MIKELA P.
818   9440849   STAR LUNA
819   9440930   PAQUETA ISLAND
820   9441300   GANNET BULKER
821   9441386   OWL
822   9441570   HEROIC LEADER
823   9441594   GLOVIS CARAVEL
824   9441609   RCC CLASSIC
825   9442017   SERENE SEA
826   9442380   MAGIC VENUS

827   9442392   FORTUNA
828   9442548   ARIANE MAKARA
829   9442550   GINGA LYNX
832   9443059   EXPRESS BLACK SEA
834   9443401   AAMIRA
835   9443683   AL DAFNA
836   9443774   SERVET ANA
837   9443841   TIGRIS
838   9443918   MACURU ARROW
839   9444027   HL SINES
840   9444479   SONGA RUBY
841   9444716   SANTA CLARA
842   9444912   HELGA
843   9445540   BEGONIA S
844   9445904   CELSIUS LIVERPOOL
845   9446087   SAIKO
846   9446104   SANTA MARTA EXPRESS
847   9446881   ADRIA ACE
848   9447287   FT STURLA
849   9447847   MADRID EXPRESS
['Madrid Express']
Page title:  Madrid Express

850   9447885   SOUTHAMPTON EXPRESS
851   9448138   SILVER MOON
852   9448322   VORIAS
853   9448346   PALEISGRACHT
855   9448504   GAZ PROVIDENCE
856   9448671   BEATRIZ B
857   9448748   COSCO JAPAN
858   9449247   RHODOS
859   9449340   FOUR AIDA
860   9449467   PUERTO AYSEN
861   9450325   NORTHERN PRELUDE
862   9450399   PRAGUE EXPRESS
863   9450662   FOUR OTELLO
864   9450739   0543 MAPUTO
865   9450844   KALLIOPI S
867   9451355   DA HONG XIA
870   9452218   STINNES MISTRAL
871   9452505   SEAGULL
872   9452543   THEMIS
873   9452610   ORNAK
874   9453391   SKAFIA WAVE
875   9453731   BERGE TORRE
876   9453781   PELAGICA
877   9454216   HOLLUM
878   9454228   BBC MARMARA
879   9454242   SONDERBORG
880   9454292   KEY FRONTIER
881   9455545   MARAN SKY
882   9455715   RCC PRESTIGE
883   9455818   GLENDA MELODY
884   9456070   BROADWAY
885   9456537   VEGA
886   9457024   NAVE COSMOS
887   9457189   POL MARIS
888   9457220   HAPPY SKY
889   9457268   SEAFRONTIER
891   9457713   PINE OLIA
892   9457749   NAVE POLARIS
893   9457763   ATHIRI
895   9458078   MAERSK ELBA

896   9458092   MAERSK ESSEX

897   9458169   GAZ ENERGY
898   9458432   HUANGHAI GLORY
899   9458444   HUANGHAI DEVELOPER
900   9458456   PACIFIC VICTOR
902   9458808   NCC YANBU
903   9458975   SKALAR
904   9459022   NCC NAJEM
905   9459149   IVS KINGLET
906   9459412   HANSA EUROPE
907   9459967   YULIA
908   9459981   RUDDY
910   9460083   WADI FERAN
911   9460332   HINOKI
912   9460514   APHROS
913   9460734   WADI SAFAGA
914   9460772   WADI ALYARMOUK
915   9460813   TREMOLA
917   9461283   BESIKTAS AZERBAIJAN
918   9461465   LOTUS A
919   9461867   APL CHONGQING
921   9462859   KAPITAN CHEKHA
922   9463205   MSC IMMACOLATA
923   9463449   EDENBORG
926   9464027   BENJAMAS NAREE
927   9464039   CHINTANA NAREE
929   9464948   VOGE EMMA
930   9465162   OCEAN DIAMOND
932   9465291   MSC REGULUS

933   9465538   EUROCARGO PALERMO
934   9465540   EUROCARGO ALEXANDRIA
935   9465552   EUROCARGO VENEZIA
936   9465992   TORM AGNES
937   9466013   TORM AGNETE
938   9466350   ATLANTICBORG
939   9466726   SLOMAN HERAKLES
941   9466908   LMZ TITAN
942   9466996   NUNALIK
943   9467146   LISA
944   9467299   CSCL SATURN
945   9467304   CSCL URANUS

946   9467586   INDIAN OCEAN
947   9467598   ATLANTIC OCEAN
948   9467976   AGIA DOXA
949   9468528   FUJI LAVA
950   9468530   ACACIA RUBRA
952   9470131   ADVANTAGE AWARD
954   9470399   GOLDEN RUBY
955   9470404   GOLDEN OPAL
956   9470832   VANTAGE SWORD
957   9470882   EF ELDRA
958   9471082   EUROCARGO BARI
959   9472529   BODIL KNUTSEN
960   9472634   ADVANTAGE ANTHEM
961   9472751   ORWELL
962   9473157   SAMOA
963   9473250   CONDOR BILBAO
964   9473705   NEPTULUS
966   9474670   MAIRINI
967   9476068   STAR II

968   9476692   MAGDA P
969   9476965   ULTRA ROCANVILLE
970   9476977   FEDERAL YUKINA
971   9477220   NBA RUBENS
973   9477505   CHEM TAURUS
974   9477804   MARATHOPOLIS
975   9477828   MOTTLER
976   9477919   MORNING CAMILLA
977   9478482   CORINTHIAN SPIRE
979   9478690   ALPINE LIBERTY
980   9478729   ASPROUDA
981   9478913   SSI MAJESTY
984   9479979   CHEM STREAM
985   9480124   AUGUSTA LUNA
986   9480162   NCC DALIA
987   9480198   MSC MADRID
988   9480540   MBA GIUSEPPE
989   9481441   GOLDEN EMPRESS
990   9481532   HAMMONIA BALTICA
991   9481702   STAR EVA
992   9481958   MIKE BAY
994   9482550   ELANDRA FJORD
995   9482562   ELANDRA BALTIC
996   9482603   PHOENIX ADMIRAL
997   9482861   TILL JACOB
998   9483097   XIANG YUN KOU
999   9483229   0514 E.R. BORDEAUX
1002   9483516   BIRGIT KNUTSEN
1003   9484194   UNISCOUT
1004   9484247   UNISEA
1005   9484431   MSC RAVENNA

1006   9484443   MSC ARIANE

1007   9484481   MSC AURORA

1008   9484522   LANA
1009   9484572   CAP JERVIS
1011   9485796   OSLO BULK 5
1012   9485849   GT STAR

KeyboardInterrupt:

In [51]:
ship_info_json.keys()

dict_keys([7911545, 9015266, 9056583, 9208629, 9283186, 9283239, 9384992])

In [59]:
ships_not_found.extend(ship_info_json.keys())

In [60]:
len(ships_not_found)

637

In [64]:
imo_ships_acquired.extend(ships_not_found)

In [65]:
imo_numbers_to_query = set(distinc_imo_numbers['imo_number'].to_list()).difference(set(imo_ships_acquired))

In [66]:
len(imo_numbers_to_query)

16137

In [54]:
wikipedia_data = wikipedia_data | ship_info_json

In [55]:
import json
with open('../data/raw/wikipedia_ship_data.json', 'w', encoding='utf-8') as f:
    json.dump(wikipedia_data, f, ensure_ascii=False, indent=4)