In [1]:
import wikipedia

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
from difflib import SequenceMatcher

In [2]:
df = pd.read_excel('../data/raw/2023-v12-04092024-EU MRV Publication of information.xlsx', header=2)

/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [17]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [ ]:
def get_wikipedia_page(page_title: str):
    page_object = wikipedia.page(page_title)
    html_page = page_object.html()
    
    return html_page

In [28]:
ships_not_found = []
for index, row in df[['IMO Number', 'Name']].head(25).iterrows():
    print(row['IMO Number'], row['Name'])
    result = wikipedia.search(f"IMO number: {row['IMO Number']}", results = 1)
    
    if not result:
        ships_not_found.append(row['IMO Number'])
        continue
    
    if similar(row['Name'].lower(), result[0].lower()) > 0.6:
        print(result)
        article_html_page = get_wikipedia_page(result[0])
    print()

1007213 OCTOPUS
['Octopus (yacht)']

6602898 OCEAN MAJESTY
['MV Ocean Majesty']

7037806 IONIAN STAR
['MS Ionian Star']

7043843 TALOS
7207451 SPORADES STAR
['MV Sporades Star']

7226952 FJARDVAGEN

7230599 MARKO POLO
7310507 FIDELITY
7325095 LAMPEDUSA
7346221 SUPERSTAR
7349039 CORSICA MARINA SECONDA
7350090 MOBY NIKI
['MS Moby Niki']

7358755 MOBY KISS
7360605 MOBY VINCENT
7360681 MOBY BABY TWO
7361312 MOBY DREA
['MS Moby Drea']

7361324 MOBY OTTA
['MS Moby Otta']

7422881 YEOMAN BANK
7426045 KEFALONIA
7429669 AQUA BLUE
7432733 AGIOS GEORGIOS
7516773 GALAXY
7527887 SMYRNA DI LEVANTE
7528611 PELAGITIS
['MV Pelagitis']

7528635 CENK T

In [37]:
# wikipedia page object is created
page_object = wikipedia.page("MV Ocean Majesty")
 
# printing html of page_object
print(page_object.html)
 
# printing title
print(page_object.original_title)
 
# printing links on that page object
print(page_object.links[0:10])

<bound method WikipediaPage.html of <WikipediaPage 'MV Ocean Majesty'>>
MV Ocean Majesty
['Balearic Islands', 'Cruise ship', 'Cyprus', 'Epirotiki', 'Ferry', 'Greece', 'Gross register tonnage', 'Hansa Touristik', 'IMO number', 'Knot (unit)']

In [38]:
html_page = page_object.html()

In [39]:
soup = BeautifulSoup(html_page, "html.parser")

In [40]:
table = soup.find('table', attrs={'class':'infobox'})
table_body = table.find('tbody')

In [45]:
ship_info = {}
rows = table_body.find_all('tr', attrs={'style': 'vertical-align:top;'})
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    print(cols)
    
    if len(cols) == 2:
        ship_info[cols[0]] = cols[1]
    # data.append([ele for ele in cols if ele])

['Name', '1966–1985: Juan March\n1985–1986: Sol Christina\n1986–1988: Kypros Star\n1988–1994: Ocean Majesty\n1994–1995: Olympic\n1995: Homeric\n1995–present: Ocean Majesty']
['Owner', '1966–1985: Trasmediterránea\n1985–1986: Sol Mediterranean\n1986–1987: Opale Lines\n1989 – present: Majestic International Cruises']
['Port of registry', '1966–1985: Valencia, \xa0Spain\n1985–1989: Limassol, \xa0Cyprus\n1989–2003: Piraeus, \xa0Greece\n2003–2022: Madeira, \xa0Portugal']
['Builder', 'Unión Naval de Levante\xa0[es]']
['Yard number', '93[1]']
['Launched', '4 December 1965[1]']
['Acquired', '27 July 1966[1]']
['In service', '1966']
['Identification', 'Call sign CQSC\nIMO number:\xa06602898\nMMSI number: 255717000']
['Status', 'In service']
['Tonnage', '10,417\xa0GRT']
['Length', '135 metres (443\xa0ft)']
['Beam', '15.8 metres (52\xa0ft)']
['Speed', '18 knots']
['Capacity', '535 (normal)\n621 (maximum)']
['Crew', '257']

In [46]:
ship_info

{'Name': '1966–1985: Juan March\n1985–1986: Sol Christina\n1986–1988: Kypros Star\n1988–1994: Ocean Majesty\n1994–1995: Olympic\n1995: Homeric\n1995–present: Ocean Majesty',
 'Owner': '1966–1985: Trasmediterránea\n1985–1986: Sol Mediterranean\n1986–1987: Opale Lines\n1989 – present: Majestic International Cruises',
 'Port of registry': '1966–1985: Valencia, \xa0Spain\n1985–1989: Limassol, \xa0Cyprus\n1989–2003: Piraeus, \xa0Greece\n2003–2022: Madeira, \xa0Portugal',
 'Builder': 'Unión Naval de Levante\xa0[es]',
 'Yard number': '93[1]',
 'Launched': '4 December 1965[1]',
 'Acquired': '27 July 1966[1]',
 'In service': '1966',
 'Identification': 'Call sign CQSC\nIMO number:\xa06602898\nMMSI number: 255717000',
 'Status': 'In service',
 'Tonnage': '10,417\xa0GRT',
 'Length': '135 metres (443\xa0ft)',
 'Beam': '15.8 metres (52\xa0ft)',
 'Speed': '18 knots',
 'Capacity': '535 (normal)\n621 (maximum)',
 'Crew': '257'}